.homepage {
  &-univ-info {
    z-index: 5;
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 94px;
    width: 100%;
    background: white;
    font-size: 20px;
    padding-bottom: 10px;
  }
  &-card {
    &-index {
      position: absolute;
      left: 10px;
      top: 5px;
      font-weight: 500;
    }
    &-country {
      font-size: 24px;
      display: flex;
      align-items: flex-start;
    }
    &-link {
      word-break: break-word;
    }
    &-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}
