.homepage {
  &-card {
    &-index {
      position: absolute;
      left: 10px;
      top: 5px;
      font-weight: 500;
    }
    &-country {
      font-size: 24px;
      display: flex;
      align-items: flex-start;
    }
    &-link {
      word-break: break-word;
    }
    &-button {
      min-height: 8px !important;
      padding: 5px 5px !important;
    }
    &-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    &-star {
      width: 20px;
      height: 20px;
      position: absolute;
      right: 10px;
      top: 5px;
      padding: 5px;
      filter: grayscale(1);
      cursor: pointer;
      &-favorite {
        filter: unset;
      }
      // svg path {
      //   fill: blue !important;
      // }
    }
  }
  &-total-subscribe {
    cursor: pointer;
  }
}

.homeheader {
  &-wrapper {
    z-index: 5;
    background: white;
    font-size: 20px;
    padding-top: 20px;
    border-top: 1px solid black;
  }
  &-search {
    padding: 0 20px;
    margin-bottom: 15px;
    h4 {
      margin-bottom: 10px;
    }
    &-label {
      display: flex;
      justify-content: space-around;
    }
  }
  &-sort {
    border-top: 1px solid black;
    padding: 20px;
    h4 {
      margin-bottom: 10px;
    }
    &-button {
      width: 35% !important;
      margin: 0 20px;
    }
  }
}
