.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  background-color: white;
  padding: 1em;
  margin: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  min-height: 200px;
  position: relative;
}

@media only screen and (max-width: 775px) {
  .card {
    width: 40%;
  }
}

@media only screen and (max-width: 450px) {
  .card {
    width: 60%;
  }
}

@media only screen and (max-width: 350px) {
  .card {
    width: 80%;
  }
}
